/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~
document lvl
~~~~~~~~~~~~~~~~~~~~~ */

@font-face {
  font-family: "font-name";
  src: url(data:application/x-font-ttf;charset=utf-8;base64,);
  font-style: normal;
  font-weight: 400;
}

html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: monospace;
	background: #ccc;
}
// Box sizing
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*@font-face {
  font-family: 'unscii-16';
  src: url('unscii-16.ttf') format('truetype') 
}*/

/* ~~~~~~~~~~~~~~~~~~~~~
top wrapper
~~~~~~~~~~~~~~~~~~~~~ */
#root {
	height: 100%;
}
.flex_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
b {
	font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~
canvas
~~~~~~~~~~~~~~~~~~~~~ */
.canvas_container {
	background: #ddd;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;
}
.canvas_container.hideGrid {
	background: white;
}
.canvas_container.darkTheme {
	background: black;
}
.canvas_container.darkTheme .grid {
	background: black;
}
.canvas_container.darkTheme .row div {
	box-shadow: inset 0 0 0 0.5px rgba(255,255,255,0.1);
	fill: white;
}

.canvas_container.darkTheme .row div.invertColor {
	fill: black;
	background: white;
}
.canvas_container .row div.invertColor {
	fill: white;
	background: black;
}

.canvas_container.darkTheme .transparentBackground .row div.invertColor {
	fill: black;
	background: white;
}
.canvas_container .transparentBackground .row div.invertColor {
	fill: white;
	background: black;
}
.aligner {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}
.grid {
	background: white;
	position: relative;
}
.transparentBackground {
	background: none;
}
.grid_controls {
	position: absolute;
	bottom: 0;
	right: 5px;
	width: 70px;
	height: 100px;
}
.grid_controls button{
	width: 20px;
	height: 20px;
	padding: 0;
	margin-right: 3px;
	vertical-align: middle;
	border:none;
	background: #eee;
	box-shadow: 0 0 0 0.5px rgba(0,0,0,1);
}
.grid_controls button:hover {
	transform: scale(1.1);
}
.grid_controls .zoom {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px
}
.grid_controls .zoom button:first-child {
	margin-right: 4px;
}
.grid_controls .move_y {
    display: block;
    margin: 3px auto;
    width: 25px;
}
.row {
	position: relative;
}
.row div {
	display: inline-block;
	vertical-align:top;
	overflow: visible;
	position: relative;
}
.row div:before {
	content: '';
	height: 100%;
	width: 100%;
	display: block;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
	pointer-events: none;
}
.rowNums div.rowNum {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	left: -30px;
	box-shadow: none;
	text-align: right;
	font-size: 0.6em;
	background: none;
	color: #888;
}
.rowNums div.rowNum.highlighted {
	color: red;
}
.row div.clipCells {
	overflow: hidden;
}

.colNums {
	width: 100%;
	position: relative;
	height: 0;
}
.colNum {
	width: auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6em;
	background: none;
	color:#888;
	position: relative;
	height: 25px;
	top: -25px;
}
.colNum.highlighted {
	color: red;
}
.cursor {
	position: absolute;
    box-shadow: inset 0 0 0 1px rgba(255,0,0,1);
	z-index: 1000;
}

.canvas_container.hideGrid .cursor {
	display: none;
}

.canvas_container.hideGrid .colNums, .canvas_container.hideGrid .rowNums {
	display: none;
}
.selectionHighlight {
	opacity: 0.3;
	background: red;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
}
.canvas_container.hideGrid .row div, .canvas_container.hideGrid.darkTheme .row div {
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
}

svg {
	overflow: visible;
	transform-origin: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}
svg path {
	pointer-events: none;
}
ol.instructions {
	list-style: initial;
	list-style-type:decimal;
	list-style-position: inside;
}
ol.instructions li {
	margin-top: 3px;
}
span.hotkey {
	background: #333;
	padding: 3px;
	border-radius: 5px;
	color:white;
}
#dropbox-response {
	color:red;
}
.pixelRendering svg{
	shape-rendering:optimizeSpeed;
}
/* ~~~~~~~~~~~~~~~~~~~~~
controls
~~~~~~~~~~~~~~~~~~~~~ */
.controls_container {
	background: white;
	width: 420px;
	padding: 0.5em;
	overflow-y: scroll;
	flex: none;
}
.control_component {
	display:block;
	margin-bottom: 0.5em;
}
.header {
	width: 30%;
	display:inline-block;
}
.control_inputs {
	display:inline-block;
}
h3 {
	font-weight: bold;
	margin: 1em 0 0.5em 0;
}
button {
	margin-right: 0.5em;
}
.page_selection {
	display: inline-block;
}
#page_select_input.input-error {
	color:red;
}

#glyphcont img:hover {
    box-shadow: inset 0 0 0 1px rgba(255,0,0,1);
    cursor: pointer;
}
.select_set button.active {
	background-color: lime;
}

.KeyMappingsBar {
	width: 100%;
	background: white;
	display: flex;
	box-sizing:border-box;
	padding: 5px;
}
.KeyMappingsBar .Sets {
	flex: 1;
}
.SelectedGlyphContainer {
	width: 185px;
	height: 80px;
    margin-top: auto;
}
.SelectedGlyphContainer .selectedGlyph {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.SelectedGlyphContainer .selectedGlyph .vector {
	width: 80px;
	height: 80px;
}
.selectedGlyph {
	position: relative;
}
.selectedGlyph .vector {
	height: 50px;
	width: 50px;
	border: 1px solid black;
	overflow: visible;
	box-sizing:border-box;
	position: relative;
	display: inline-block;
}
#properties {
	display:inline-block;
	width: 100px;
	margin-left: 5px;
}
.selectedGlyph .vector svg {
	height: 100%;
	overflow: visible;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
}

.KeyMappingsContainer {
	display: none;
}
.KeyMappingsFlexer {
	display: flex;
	flex-direction: row;
}
.KeyMappingsContainer .KeyMappingsFlexer div:first-child {
	order:1;
}
.KeyMappingsContainer.active {
	display: block;
}
.KeyMappingsContainer .KeyMappingsFlexer > div {
	text-align: center;
	box-sizing:border-box;
	width: 60px;
	border:none;
	display: inline-block;
	position: relative;
	overflow: visible;
}
.ToggleMapping, .select_set {
	display: inline-block;
	margin-right: 5px;
}
